:root {
  color-scheme: light dark;
  --color-background: light-dark(#dae3e0, #2a272b);
  --color-primary: light-dark(#869e3c, #303d2b);
  --color-secondary: light-dark(#303d2b, #869e3c);
  --color-tertiary: light-dark(#425639, #a3bc59);
  --color-quaternary: #d9e6e2;
  --color-primary-text: light-dark(#2a272b, #dae3e0);
  --color-secondary-text: light-dark(#dae3e0, #2a272b);
  --color-attention: #869e3c;
  --color-dark-text: #2a272b;
  --font-emphasize: "NexaHeavy", sans-serif;
  --font-normal: "Nexa", sans-serif;
}
/* FORCE LIGHT MODE */
html.theme-light {
  --color-background: #dae3e0;
  --color-primary: #869e3c;
  --color-secondary: #303d2b;
  --color-tertiary: #425639;
  --color-primary-text: #2a272b;
  --color-secondary-text: #dae3e0;
}

/* FORCE DARK MODE */
html.theme-dark {
  --color-background: #2a272b;
  --color-primary: #303d2b;
  --color-secondary: #869e3c;
  --color-tertiary: #a3bc59;
  --color-primary-text: #dae3e0;
  --color-secondary-text: #2a272b;
}
@font-face {
  font-family: "Nexa";
  src: url(assets/Nexa-ExtraLight.ttf);
}
@font-face {
  font-family: "NexaHeavy";
  src: url(assets/Nexa-Heavy.ttf);
}
body {
  background-color: var(--color-background, #2a272b);
  margin: auto;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  font-family: var(--font-normal, sans-serif);
}

header {
  background-color: var(--color-primary, #303d2b);
  margin: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-inline: 0;
  padding-block: 3rem;
  margin: 0;
  li {
    padding-block: 0.25rem;
    color: var(--color-primary-text, #dae3e0);
  }
}
nav a {
  text-decoration: none;
}

main,
nav ul {
  margin: 0 5%;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 600px) {
  main {
    margin: 0 10%;
  }
  nav ul {
    margin: 0 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

h1 {
  text-align: center;
  font-family: var(--font-emphasize, sans-serif);
  font-size: 4em;
  color: var(--color-primary-text, #dae3e0);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--color-primary, #303d2b);
  gap: 2rem;
  margin: 40px 0px 0px;
  padding: 60px 0px 30px;
}

a {
  color: var(--color-primary-text, #dae3e0);
}

button,
input[type="submit"] {
  padding: 1rem;
  background-color: var(--color-secondary, #869e3c);
  color: var(--color-secondary-text, #2a272b);
  border: none;
  border-radius: 0.5rem;
}

button:hover {
  background-color: var(--color-tertiary, #a3bc59);
}

h2,
h3,
h4,
label,
p {
  color: var(--color-primary-text);
}

@view-transition {
  navigation: auto;
}
